.hr-container {
    background-color: #f8f9fa; 
    padding: 20px 0;
    text-align: center;
}

.custom-hr {
    width: 50%;
    border: 0;
    height: 2px;
    background-color: #ccc;
    margin: 0 auto;
}

.headerSecond {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    color: #2c3e50;
    background-color: #f8f9fa;
    padding: 50px;
    margin: 0;
}

.map-main {
    padding: 40px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}

.steps-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    max-width: 800px;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.step-icon {
    font-size: 2em;
    color: #007bff;
    margin-right: 10px;
}

.step-content {
    flex-grow: 1;
}

.step h3 {
    margin: 0 0 5px 0;
    font-size: 1.5em;
}

.step p {
    margin: 0;
    color: #555;
    font-size: 1em;
    line-height: 1.5;
}

.steps-list::before {
    content: '';
    width: 2px;
    background-color: #007bff;
    position: absolute;
    left: 12px;
    top: 10px;
    bottom: 30px;
    border-radius: 50px;
}

.step:last-child .step-arrow {
    display: none;
}

@media (max-width: 768px) {
    .step {
        flex-direction: column;
        align-items: flex-start;
    }
}