.trip-detail-container {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.trip-info {
    text-align: center;
    margin-bottom: 20px;
}

.trip-info h2 {
    margin-bottom: 10px;
}

.breaker {
    width: 50px;
    height: 3px;
    background-color: #007bff;
    margin: 10px auto;
}

.date-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-info p {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.places-to-visit {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.places-to-visit li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

.add-place-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.add-place-button:hover {
    background-color: #218838;
}

.place-add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.place-add-form > .form-input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    border: 0;
}

.place-add-form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 300px;
    box-sizing: border-box;
}

.destination-input {
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    text-align: center;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
}

.accommodation-info {
    margin-top: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f8f9fa;
  }
  
.accommodation-info p {
  margin: 4px 0;
}

.total-places {
    margin-bottom: 5px;
}

.destination-details {
    display: flex;
    justify-content: space-between;
}

.accommodation-button {
    position: relative;
    cursor: pointer;
    background: none; 
    border: none;
    padding: 0;
}
  
.accommodation-button::before {
    content: attr(data-title);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}
  
.accommodation-button:hover::before {
    opacity: 1;
}
  
.accommodation-icon {
    width: 32px;
    height: 32px;
    transition: transform 0.2s ease-in-out;
}
  
.accommodation-button:hover .accommodation-icon {
    transform: translateY(-3px);
}