.destination-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.destination-info {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 16px;
}

.destination-info input[type="text"] {
padding: 8px;
margin-bottom: 8px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
text-align: center;
}

.destination-info p {
margin: 8px 0;
}

.destination-name {
cursor: pointer;
}

.place-add-form {
display: flex;
justify-content: space-between;
}

.place-input {
flex: 1;
padding: 8px;
margin-right: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}

.add-place-button {
padding: 8px 16px;
background-color: #007bff;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}

.add-place-button:hover {
background-color: #0056b3;
}

.places-to-visit {
list-style-type: none;
padding: 0;
}

.places-to-visit li {
padding: 8px;
border-bottom: 1px solid #ddd;
}

.places-to-visit li:last-child {
border-bottom: none;
}
  