.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.logo {
    flex: 0 1 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.main-nav-links, .auth-nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 20px;
}

.main-nav-links li, .auth-nav-links li{
    padding: 0 15px;  
    margin-right: 30px;
}

.main-nav-links li:last-child {
    margin-right: 0;  
}

.main-nav-links li a, .auth-nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.main-nav-links li a:hover, .auth-nav-links li a:hover {
    color: #f05b0b;
}