.main-photo-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.main-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
  position: absolute;
  top: 0;
  left: 0;
}

.main-photo-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  max-width: 500px;
}

.main-photo-text h2 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #f05b0b;
}

.main-photo-text p {
  font-size: 1.5rem;
  margin: 0;
  line-height: 2rem;
}

.trip-button {
  display: inline-block;
  background-color: #f05b0b;
  color: white;
  text-decoration: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
  font-size: 1.3rem;
}

.trip-button:hover {
  background-color: #d94c09;
}

@media (max-width: 768px) {
  .main-photo-container {
    height: 50vh;
  }

  .main-photo-container img {
    object-position: center 5%;
  }

  .main-photo-text {
    left: 5%;
    right: 5%;
    max-width: 70vw;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .main-photo-text h2 {
    font-size: 2rem;
  }

  .main-photo-text p {
    font-size: 1rem;
  }

  .trip-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
