.password-requirements-modal {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: auto;
    top: 100%;
    left: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.password-requirements-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.password-requirements-modal li {
    margin: 8px 0;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.password-requirements-modal li .icon {
    margin-right: 8px;
    font-size: 1em;
    width: 25px;
    height: 25px;
}

.password-requirements-modal li.valid {
    color: green;
}

.password-requirements-modal li.invalid {
    color: red;
}

.password-requirements-modal .icon.valid {
    color: green;
}

.password-requirements-modal .icon.invalid {
    color: red;
}