.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 68, 87);
  color: white;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  height: 80vh;
  background-image: url("./assets/background-login.jpg");
  background-size: cover;
  background-position: center;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(46, 47, 62, 0.7);
  width: 70vh;
  border-radius: 20px;
}

.signup-header {
  color: white;
  max-width: 600px;
  margin: 20px;
}

.signup-header nav a {
  color: #f05b0b;
  margin: 0 10px;
  text-decoration: none;
}

.signup-header nav a:hover {
  text-decoration: underline;
}

.signup-section {
  padding: 30px;
  width: 100%;
  max-width: 400px;
}

.signup-section h2 {
  margin-bottom: 10px;
  font-size: 1.3em;
}

.signup-section p {
  margin-bottom: 20px;
}

.signup-section p a {
  color: #f05b0b;
  text-decoration: none;
}

.signup-section p a:hover {
  text-decoration: underline;
}

.input-group {
  margin-bottom: 2rem;
}

.input-group input:focus {
  outline: none;
  border-color: #f05b0b;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #2e2f3e;
  color: white;
}

.create-account-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  background-color: #f05b0b;
  color: white;
  margin-bottom: 1rem;
}

.create-account-button:hover {
  background-color: #d0490a;
}
